In [24]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [25]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [26]:
df=pd.read_csv("/content/drive/My Drive/FatimaQurban_ML&DL_BytewiseFellowship2024/FatimaQurban_ML&DL_Task2/schools.csv")
print(df.shape)
df.head()

(375, 7)

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

# PART A

In [27]:
df['average_math_percent']=(df['average_math']/800)*100
sorted_df=df.sort_values(by='average_math_percent', ascending=False)
best_math_percentages= sorted_df['average_math_percent'] >= 80

best_math_school = sorted_df.loc[best_math_percentages, 'average_math_percent']
school_names= sorted_df.loc[best_math_percentages, 'school_name']

print("Best Math Schools and their Average Math Percentages:\n")
for name, percent in zip(school_names, best_math_school):
    print(name, percent)

Best Math Schools and their Average Math Percentages:

Stuyvesant High School 94.25
Bronx High School of Science 89.25
Staten Island Technical High School 88.875
Queens High School for the Sciences at York College 87.625
High School for Mathematics, Science, and Engineering at City College 85.375
Brooklyn Technical High School 85.25
Townsend Harris High School 85.0
High School of American Studies at Lehman College 83.625
New Explorations into Science, Technology and Math High School 82.125
Eleanor Roosevelt High School 80.125


# PART B

In [29]:

df['total_SAT']= df['average_math'] + df['average_reading'] + df['average_writing']
new_df=df[['school_name', 'total_SAT']]
top_ten_schools_sort= new_df.sort_values(by='total_SAT', ascending=False)
top_ten_schools=top_ten_schools_sort.head(10)
print(top_ten_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

# PART C

In [31]:
grouping_borough= df.groupby('borough')['total_SAT']
for borough, total_SAT_scores in grouping_borough:
    print(f"{borough} Group: {list(total_SAT_scores)}")

Bronx Group: [1164, 1227, 1202, 1100, 1203, 1142, 1124, 1134, 1053, 1227, 995, 1349, 1290, 1119, 1160, 1005, 1130, 1466, 1246, 1188, 1138, 1145, 1182, 1159, 1285, 1178, 1214, 1121, 1141, 1278, 1205, 1071, 1158, 1233, 1165, 1189, 1223, 1214, 1229, 1096, 1161, 1117, 1147, 1232, 1093, 1232, 1115, 1031, 1114, 1169, 1124, 1194, 1252, 1240, 1249, 1144, 1191, 1156, 1291, 1268, 1457, 1128, 1192, 1200, 1109, 1206, 1157, 1172, 1224, 1242, 1102, 2041, 987, 1223, 1276, 2013, 1314, 1156, 1248, 1278, 1016, 1407, 1286, 924, 1327, 1066, 1266, 1294, 1062, 1204, 1115, 1251, 1161, 1165, 1210, 1273, 1255, 1192]
Brooklyn Group: [1182, 1099, 1217, 1176, 1407, 1219, 1319, 1238, 1216, 1105, 1161, 1160, 1209, 1099, 1386, 1127, 1161, 1258, 1322, 1124, 1028, 1435, 1075, 1804, 1181, 1107, 1153, 1091, 1009, 1140, 1162, 1336, 1129, 926, 1161, 1158, 1097, 1186, 1130, 1420, 1580, 1141, 1334, 1188, 1103, 1177, 1313, 1246, 1201, 1205, 1298, 1207, 1185, 1102, 1326, 1104, 1212, 1327, 1126, 1385, 1258, 1643, 1177, 1258, 1425, 1316, 1896, 1490, 1360, 1141, 1179, 1168, 1143, 1076, 1212, 1326, 1287, 1152, 1246, 1506, 1239, 946, 1138, 1471, 1176, 1101, 1115, 1134, 1386, 1451, 1216, 1159, 1188, 1159, 1640, 1285, 1226, 1151, 1201, 1255, 1197, 1196, 1145, 1168, 1361, 1079, 1079, 1145, 1159]
Manhattan Group: [1859, 1193, 1261, 1529, 1197, 1914, 1165, 1245, 1144, 1149, 1292, 1327, 1290, 1049, 1592, 1360, 1327, 1235, 1704, 1255, 1358, 1178, 1327, 1649, 1589, 1511, 1700, 1173, 1216, 1158, 1302, 1612, 1257, 1536, 1005, 1147, 1152, 1093, 1308, 1265, 1367, 1388, 1116, 1292, 1284, 1889, 1144, 1207, 1764, 1781, 1255, 1647, 1234, 1142, 1480, 1226, 1174, 1147, 1690, 1071, 1166, 1135, 1390, 1297, 1415, 1556, 1301, 1196, 1889, 1359, 1090, 1161, 1300, 1079, 1334, 1532, 1255, 1231, 1365, 1142, 1107, 1176, 1390, 1148, 1178, 1479, 1236, 1300, 2144]
Queens Group: [1335, 1313, 1143, 1346, 1431, 1456, 1245, 1839, 1157, 1274, 1368, 1404, 1424, 1316, 1265, 1622, 1881, 1256, 1429, 1127, 1462, 1487, 1578, 1530, 1495, 1309, 1314, 1981, 1211, 1277, 1427, 978, 1224, 1485, 1357, 1290, 1194, 1186, 1241, 1191, 1201, 1248, 1286, 1397, 1214, 1285, 1218, 1253, 1326, 1184, 1549, 1410, 1193, 1268, 1335, 1306, 1457, 1212, 1450, 1947, 1250, 1102, 1235, 1261, 1086, 1114, 1280, 1207, 1716]
Staten Island Group: [1258, 1426, 1355, 1284, 2041, 1344, 1446, 1473, 1354, 1409]

In [32]:
average_SAT= grouping_borough.mean()
std_SAT=grouping_borough.std()
num_schools=grouping_borough.count()

max_std_borough = std_SAT.idxmax()

largest_std_dev_info={
    "Borough":max_std_borough,
    "No of schools":num_schools[max_std_borough],
    "SAT score":round(average_SAT[max_std_borough],2),
    "Standrard deviation":round(std_SAT[max_std_borough],2)
}
largest_std_dev=pd.DataFrame([largest_std_dev_info])
print("Information of the Borough with the largestest standard deviation \n")
print(largest_std_dev)

Information of the Borough with the largestest standard deviation

     Borough  No of schools  SAT score  Standrard deviation
0  Manhattan             89    1340.13               230.29